$white: #FFFFFF;
$header_color: #0074D9;

%tile {
  color: $white;
  text-decoration: none;
}

#education_tile {
  a {
    @extend %tile;
  }
}

#education_tile a:hover{
  color: #DDDDDD;
}

#skills_tile {
  a {
    @extend %tile;
  }
}

#skills_tile a:hover {
  color: #DDDDDD;

}

#experience_tile {
  a {
    @extend %tile;
  }
}

#experience_tile a:hover {
  color: #DDDDDD;
}


#video_tile {
  a {
    @extend %tile;
  }
}

#video_tile a:hover {
  color: #DDDDDD;
}

#header{
  color: $header_color;
  text-decoration: none;
  text-align: left;
}

#description {
  text-align: left;
}

.infos {
  text-align: left;
}

#portret {
  width: 100%;
}

footer {
  height: 100px;
  bottom: 0;
  width: 100%;
}

.tile {
  text-align: center;
  padding: 1em;
  background: #2E85FF;

}
